@charset "utf-8";

div.main{
  background: #f73859; /* Old browsers */
  background: radial-gradient(ellipse at center,  #00338c 1%,#1c2b5a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height:calc(100vh);
  width:100%;
}


body {
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}


input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}


.form{
  width: 250px;
  display:inline-block;
  width:40%;
  border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}

#login span.fa {
  background-color: #fff;
  border-radius: 3px 0px 0px 3px;
  color: #000;
  display: block;
  float: left;
  height: 50px;
  font-size:24px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login input {
  height: 50px;
}

#login input[type="text"], input[type="password"] {
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  color: #000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 200px;
}

#login input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login .form input[type="submit"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
}

.box{
  width:30vh;
  height:30vh;
  margin-left: 10vh;
  margin-bottom: 0;
}

.black{
  background: black;
}

.container{
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.alert-container{
  margin-top: 5vh;
}

.triangle-bottom {
  width: 200px;
  height: 200px;
  background: white;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.triangle-upper {
  width: 400px;
  height: 400px;
  background: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}


