<div class="main">
  <img class="middle" src="assets/totalizator-sportowy-logo.png" width="30%" height="30%">
  <div class="container middle">
      <div id="login">
        <form  method="get" style="margin-top: 5vh;">
          <input type="text"  Placeholder="Username" required>
          <input type="password"  Placeholder="Password" required>
        </form>
      </div>
      <div class="box"><app-photo></app-photo></div>
  </div>
  <div class="middle">
    <button type="button" class="btn-light btn-lg">Sign in</button>

  </div>

<!--  <div class="alert alert-danger alert-dismissible fade show middle container" role="alert">-->
<!--    {{errorMsg}}-->
<!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--    </button>-->
<!--  </div>-->



</div>

